<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Blog</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+QLD:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1><a href="/">Aravind Muthusamy</a></h1>
            <nav class="nav-links">
                <a href="about"><i class = "fi fi-rr-user"></i></a>
                <a href="contact"><i class = "fi fi-rr-envelope"></i></a>
            </nav>

        </div>
    </header>