<div class = "page-wrapper">
<%- include("partials/header.ejs") %>
<div class ="content-container">
    <div class = "intro-container">
        <h1>Hi, this is Aravind</h1>
        <p>
            I am a Full Stack Developer with a passion for creating dynamic and responsive web applications. 
        </p>
    </div>

    <div class = "skills-container">
        <h2>Tech Skills</h2>
        <ul>
            <li>HTML, CSS, JavaScript</li>
            <li>Node.js, Express.js</li>
            <li>MySQL</li>
            <li>React.js, EJS</li>
            <li>Git & GitHub</li>
        </ul>
        <h2>Creative Skills</h2>
        <ul>
            <li>Da Vinci Resolve</li>
            <li>Adobe Photoshop</li>
            <li>Blender 3D</li>
            <li>Adobe After Effects</li>
        </ul>
    </div>
</div>
<%- include("partials/footer.ejs") %>
</div>